.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.ReactModal__Content {
  position: relative !important;
  width: 700px;
  top: calc(50% - 200px) !important;
  left: calc(50% - 350px) !important;
  text-align: center;
}

.modal-content {
  height: 150px;
}